<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmergencyNotifier.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B972AD8D9B221DAD0081E0BC4B6E10004F5B8154</string>
				<key>dateExpires</key>
				<string>11/10/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JJ82Q457Z9.com.Adnan.EmergencyNotifier</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JJ82Q457Z9</string>
				<key>com.apple.developer.usernotifications.communication</key>
				<true/>
				<key>com.apple.developer.usernotifications.time-sensitive</key>
				<true/>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>EmergencyNotifier.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>92eaefdf-7bb3-439f-ba18-50b0ac231f79</string>
				<key>dateExpires</key>
				<string>25/01/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Adnan.EmergencyNotifier</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JJ82Q457Z9</string>
				<key>name</key>
				<string>Adnan Odimah</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
